
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>index</h2>

<table id="products" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price ($)</th>
            <th>Description</th>
            <th>Weight (kg)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts {

    <script>
        $(document).ready(function () {
            $("#products").dataTable({
                ajax: {
                    url: "@Url.Action("GetProducts", "Products")",
                    dataSrc: ""
                },
                columns:
                    [
                        { data: "Name" },
                        { data: "Price" },
                        { data: "Description" },
                        { data: "Weight" },
                        {
                            render: function (data, type, full, meta) {
                            return '<a id='+ full.Id +' href=@Url.Action("Edit","Products")' + '/' +full.Id + '> Edit</a>';
                        }
                        }
                    ]
            })

        })
    </script>

}
